body{
			margin: 0px 0px 1px 0px; /* the extra 1px allows the iOS inner/outer check to work */
    		background: #000;

		}
		canvas {
			width: 491px;
			height:auto;

}

@media all and (max-width: 414px) {
		canvas {
			width:100% !important;
		}

	}

	